{% comment %}
    Paste analytics code snippet here as provided by your platform (for example from Google Analytics or Matomo).
    To avoid collecting stats from your development server, this code will be added to the head of every page ONLY during production build! 
{% endcomment %}
<!-- Analytics --> 
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QE8FW7FDCQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-QE8FW7FDCQ');
</script>