/* 
  Put custom SCSS here! 
  This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/


// Main fonts

// Josefin Sans, Montserrat, Jost, Source Sans Pro://



@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');



body {
  font-family: "Source Sans 3", sans-serif;
}

h2 {
  color:#00a97b;
}

#home-banner {
  flex-grow: 1; /* Allows the banner to expand and fill the available space */
  display: flex;
  flex-direction: column;
  background-image: url(https://rjkooiker.com/img/a01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#home-banner h1 {
  /* Add your styling here */
  font-size: 10vw; /* Adjust as needed */
  text-align: center;
  width: 100%;
  font-family: "Jost", sans-serif;
  text-shadow: 0px 0px 20px #000;
  font-weight: 400;
  font-style: normal;
  /* line-height: 110%; /* 281.6px */
  /* letter-spacing: 5.12px; */
  color: white; /* Set the color to white */
}

#home-banner h4 {
  /* Add your styling here */
  font-size: 3vw;
  text-align: center;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: white; /* Set the color to white */
}

/* When the viewport is 600px or less, adjust the font size */

@media (max-width: 600px) {

  #home-banner h1 {
  font-size: 14vw; /* Adjust as needed */
  text-align: center;
  width: 100%;
  font-family: "Jost", sans-serif;
  text-shadow: 0px 0px 20px #000;
  font-weight: 400;
  font-style: normal;
  /* line-height: 110%; /* 281.6px */
  /* letter-spacing: 5.12px; */
  color: white; /* Set the color to white */
  }

  #home-banner h4 {
      font-size: 6vw; /* Adjust as needed */
      padding-left: 1rem; /* Add left padding */
      padding-right: 1rem; /* Add right padding */
  }
}

#home-title-box {
  /* Adjust padding as necessary, but flexbox alignment may reduce the need for large padding */
  padding-top: 2em;
  padding-bottom: 2em;
  width: 100%; /* Ensure it spans the full width */
}
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

#home-banner-credit {
  font-size: 1rem;
  color: white;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
}

}


// Footnotes styling: //

.footnotes {
  border-top: 1px solid #e1e1e1; // Add thin gray line on top
  padding-top: 10px; // Add space above footnotes
}

/* Styling for tooltip  */
  .custom-tooltip {
    --bs-tooltip-bg: rgba(0, 169, 123, 1); // Increase the opacity of the tooltip background
    padding: 5px 10px; // Add padding to the tooltip
    font-size: 16px; // Increase the font size of the tooltip text
    font-family: "Source Sans 3", sans-serif;
  }

.ellipsis {
  border-bottom: 1px dotted grey;
}

// Blockquote styling://

.blockquote {
  border-left: 5px solid #00a97b; // Add left border with desired color
  background-color: rgba(0, 169, 123, 0.2); // Add semi-transparent background with the same color as the border-left
  padding: 10px; // Add padding to all sides
  margin: 10px auto; // Add margin top and bottom and auto for left and right to center justify
  border-radius: 5px; // Add rounded borders
  display: inline-block; // Make the blockquote wrap around the text
  text-align: left; //  justify the text inside the blockquote
  font-size: 18px; // Increase the font size
}

// Landing headline styling://

.animated-text {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
  
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

// Gallery styling://

.title-pill {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  padding: 5px 10px;
}
.carousel-caption, .carousel-item-title {
  background: none !important; // Add !important to ensure override
}

.nav-pills .nav-link {
  color: black;
 }


//sidebar and main content layout here://

.wrapper {
  padding: 20px;
  display: flex;
  align-items: stretch;
  width: 100vw;
}

#content {
  padding: 20px; /* Adjust padding as needed */
}

#content.sidebar-open {
  padding-left: 250px; /* Adjust padding as needed */
}

/* Sidebar */
#sidebar {
  position: fixed;
  min-width: 250px;
  padding: 20px 20px;
  transition: transform 0.25s ease-out; 
  transform: translateX(-600%);
  border-radius: 10px; // Rounded edges
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); // Slight shadow
  background-color: rgba(255, 255, 255, 1);
  z-index: 9998;
}

#sidebar.active {
  transform: translateX(0);
}

.sidebarToggle {
  /* Positioning */
  position: fixed;
  bottom: 20px;
  left: 20px;
  
  /* Styling */
  background-color: #f8f9fa;
  border: none; 
  border-radius: 50%;
  padding: 10px 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  z-index: 9999;
}