/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/
#navbar {
    background-color: white;
    z-index: 1030; /* Or any number higher than the elements below it */
  }

.title-pill {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    padding: 5px 10px;
}
.carousel-caption, .carousel-item-title {
    background: none !important; // Add !important to ensure override
}

.animated-text {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

