/* 
  Put custom SCSS here! 
  This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/


// Main font ://

body {
  font-family: "Montserrat", sans-serif;
}

h2 {
  color:#00a97b;
}

// Footnotes styling: //

.footnotes {
  border-top: 1px solid #e1e1e1; // Add thin gray line on top
  padding-top: 10px; // Add space above footnotes
}

/* Styling for tooltip  */
  .custom-tooltip {
    --bs-tooltip-bg: rgba(0, 169, 123, 1); // Increase the opacity of the tooltip background
    padding: 5px 10px; // Add padding to the tooltip
    font-size: 16px; // Increase the font size of the tooltip text
  }

.ellipsis {
  border-bottom: 1px dotted grey;
}

// Blockquote styling://

blockquote {
  border-left: 5px solid #00a97b; // Add left border with desired color
  background-color: rgba(0, 169, 123, 0.2); // Add semi-transparent background with the same color as the border-left
  padding: 10px; // Add padding to all sides
  margin: 10px auto; // Add margin top and bottom and auto for left and right to center justify
  border-radius: 5px; // Add rounded borders
  display: inline-block; // Make the blockquote wrap around the text
  text-align: left; //  justify the text inside the blockquote
  font-size: 18px; // Increase the font size
}

// Landing headline styling://

.animated-text {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
  
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

// Gallery styling://

.title-pill {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  padding: 5px 10px;
}
.carousel-caption, .carousel-item-title {
  background: none !important; // Add !important to ensure override
}

.nav-pills .nav-link {
  color: black;
 }


//sidebar and main content layout here://

.wrapper {
  padding: 20px;
  display: flex;
  align-items: stretch;
  width: 100vw;
}

#content {
  padding: 20px; /* Adjust padding as needed */
}

#content.sidebar-open {
  padding-left: 250px; /* Adjust padding as needed */
}

/* Sidebar */
#sidebar {
  position: fixed;
  min-width: 250px;
  padding: 20px 20px;
  transition: transform 0.3s ease-out; 
  transform: translateX(-150%);
  border-radius: 10px; // Rounded edges
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); // Slight shadow
  background-color: rgba(255, 255, 255, 1);
  z-index: 9998;
}

#sidebar.active {
  transform: translateX(0);
}

.sidebarToggle {
  /* Positioning */
  position: fixed;
  bottom: 20px;
  left: 20px;
  
  /* Styling */
  background-color: #f8f9fa;
  border: none; 
  border-radius: 50%;
  padding: 10px 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  z-index: 9999;
}